ul{
    list-style-type: none;
    margin:1.5rem;
   
}

ul li
{
    margin:1rem;
}

ul li a
{
    text-decoration: none;
    font-size:1.3rem;
    color: #141516;
}

.profile-section
{
    /* padding-top:0.5rem; */
   
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #131415;
    font-size:1.2rem;

}